/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
    background-color: rgb(226, 236, 178);
}


h1 {
    padding: 1%;
    font-family: Lobster;
    color:white;
    background-color: rgb(167, 202, 102);
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}

p {
    color: rgb(103, 126, 62);
    font-size: large;
    font-family: sans-serif;
}